.header-svg {
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
  height: auto;
  display: block;
  margin: 0 auto; /* Center align the SVG */
}

.noborder {
  border: none;
}

.address-wrapper {
  text-align: center; /* Center the address text */
}

.shadowed-background {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 18px rgba(0, 0, 0, 0.1);
}

.address-link {
  color: inherit;
  text-decoration: none;
}

.gImg {
  width: 10%;
}
.waImg {
  width: 10% !important;
  margin-left: 10%;
  margin-right: 10%;
}

.custom {
  width: 70% !important;
}

@media (max-width: 480px) {
  .waImg {
    width: 30% !important;
  }
}
